@import "normalize.css";

html {
    --dark-color: #0891B2;
    --medium-color: #A5F3FC;
    --medium-color-shadow: #78b3b9;
    --light-color: #CFFAFE;;
}

body {
    height: 100vh;
    display: grid;
    grid:
        "sidebar header" 120px
        "sidebar main" 1fr
        / 250px 1fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--dark-color);
}

.header {
    grid-area: header;
    display: grid;
    align-items: center;
    background-color: var(--light-color);
    padding: 0 2vw;
}

.header-search {
    display: flex;
    gap: 10px;
}

.header-notifications, .header-buttons {
    margin-left: auto;
}

.header-content {
    display: flex;
    gap: 10px;
}

.main {
    grid-area: main;
    display: grid;
    gap: 20px;
    grid:
        "cards-container announcements-container" 1fr
        "cards-container trending-container" 1fr
        / 3fr 1fr;
    background-color: var(--medium-color);
    padding: 6vh 2vw;
    box-shadow: inset 0 5px 5px var(--medium-color-shadow);
}

.main-title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.cards-container {
    grid-area: cards-container;
}

.cards-content {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2vh 2vw;
}

.cards-card {
    background-color: var(--light-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-left: 10px solid #0891B2;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--medium-color-shadow);
    
}

.cards-card-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.cards-card-content {
    margin-bottom: 1rem;
}

.cards-card-interactions {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-top: auto;
}

.announcements-container {
    grid-area: announcements-container;
}

.announcements-content {
    display: grid;
    gap: 2vh;
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--medium-color-shadow);
}

.trending-container {
    grid-area: trending-container;
}

.trending-content {
    display: grid;
    gap: 2vh;
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--medium-color-shadow);
}
